//Title and User Form (Landing)

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.default {
background-image:url('../assets/PartiallyCloud.png');
}

.cloudy {
    background-image:url('../assets/Cloudy.png');
}

.overcast {
    background-image: url('../assets/Overcast.png');
}

.storm {
    background-image: url('../assets/Storm.png');
}

.sunny {
    background-image: url('../assets/Sunny.png');
}




//Title and User Form Slide-out (Hamburger)

// // Title and User Form will fade out to Current Weather Results

//Current Weather Results
.weatherResults {
    display: flex;
    flex-direction: column;
    align-items: center;
        p:first-of-type {
        text-transform: capitalize;
        }
        h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 4rem;
        }
        p {
            font-size: 2rem;
        }
}

.weatherResults img {
    width: 20%;
}

//Five-day Forecast Toggle