html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, "sans serif";
    line-height:1.6;
}

input[type="text"]{
    width: 150px;
    border-bottom: 1px solid $text;
    padding: 10px 0;
    text-shadow: 1px 1px 0px #FFF;
    text-align: center;
    font-size: 3rem;
}

input::placeholder {
    text-align: center;
    color: $text;
    opacity: 1;
    font-size:3rem;
}

select {
    padding: 10px 20px;
    font-size: 2.7rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 0px #FFF;
    background-color: transparent;
    width: 250px;
}

button {
    padding: 10px 20px;
    font-size: 2.7rem;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 0px #FFF;
}

.whatCity {
        h1 {
        font-weight: normal;
        font-size: 3rem;
        text-shadow: 1px 1px 0px #FFF;
        line-height: 2.2;
    }
}

.tempTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}